<div class="ordered-card">
    <div class="pizza-header"><%= pizza.title %></div>

    <div class="info-pan">
        <span class="size"><img src="assets/images/size-icon.svg"> <%= pizza[size].size %></span>
        <span class="weight"><img src="assets/images/weight.svg"> <%= pizza[size].weight %></span>
    </div>

    <span class="btn-pan">
                      <span class="price"><%= pizza[size].price %> грн.</span>
                      <button type="button" class="btn btn-danger minus"><span
                                  class="glyphicon glyphicon-minus"></span>
                      </button> <span class="quanity"><%= quantity %></span>
                      <button type="button" class="btn btn-success plus"><span
                                  class="glyphicon glyphicon-plus"></span>
                      </button>
                      <button type="button" class="btn btn-default cross"><span
                                  class="glyphicon glyphicon-remove"></span>
                      </button>
                  </span>
</div>